In [2]:
import pandas as pd
import numpy as np
from azureml.core import Workspace, Experiment, Environment, ScriptRunConfig
from azureml.core.compute import AmlCompute,ComputeTarget, ComputeInstance
from azureml.exceptions import ComputeTargetException
from azureml.core.datastore import Datastore
from azureml.widgets import RunDetails
from azureml.core.environment import CondaDependencies

In [3]:
ws = Workspace.from_config(path='../../config/config.json')

Warning: Falling back to use azure cli login credentials.
If you run your code in unattended mode, i.e., where you can't give a user input, then we recommend to use ServicePrincipalAuthentication or MsiAuthentication.
Please refer to aka.ms/aml-notebook-auth for different authentication mechanisms in azureml-sdk.

# Environment

In [13]:
env=Environment.from_pip_requirements("conv_sum",  '../config/requirements.txt')
env.register(ws)

# Compute

In [3]:
from ComputeManagement import create_cluster, create_instance, delete_compute

In [10]:
cc=create_cluster(
    workspaceRef=ws,
    name="q34",
    vmSize="Standard_DS3_v2",
    minNodes=0,
    maxNodes=4,
    idleTime=180
)

Creating compute target
InProgress.
SucceededProvisioning operation finished, operation "Succeeded"
Succeeded
AmlCompute wait for completion finished

Minimum number of nodes requested have been provisioned

# Training

In [8]:
# training_script_config = ScriptRunConfig(
#     source_directory = 'src',
#     script = 'training_script.py',
#     arguments=['--data',___],
#     environment = env,
#     compute_target = cc
# )
# experiment = Experiment(
#     workspace = ws,
#     name="maiden_experiment"
# )
# run = experiment.submit(config=training_script_config, tags=[])

# RunDetails(run).show()
# run.wait_for_completion(show_output=True)

In [1]:
import yfinance as yf

In [20]:
sensexTickerYFinance = ['HDFCLIFE.NS, NESTLEIND.NS, KOTAKBANK.NS, INDUSINDBK.NS, TATASTEEL.NS, ITC.NS, ONGC.NS, TITAN.NS, ULTRACEMCO.NS, BAJAJFINSV.NS, BAJFINANCE.NS, BRITANNIA.NS, BAJAJ-AUTO.NS, COALINDIA.NS, BHARTIARTL.NS, TATACONSUM.NS, LTI.NS, CIPLA.NS, MARUTI.NS, ICICIBANK.NS, APOLLOHOSP.NS, NTPC.NS, HEROMOTOCO.NS, HINDALCO.NS, WIPRO.NS, TCS.NS, ADANIENT.NS, MM.NS, TECHM.NS, RELIANCE.NS']
stock_data = yf.download(tickers=sensexTickerYFinance, start='2000-01-01', end='2022-12-31', interval='1mo')

[*********************100%***********************]  30 of 30 completed

1 Failed download:
- MM.NS: No timezone found, symbol may be delisted

In [21]:
stock_data.loc[:,'Adj Close']

,ADANIENT.NS,APOLLOHOSP.NS,BAJAJ-AUTO.NS,BAJAJFINSV.NS,BAJFINANCE.NS,BHARTIARTL.NS,BRITANNIA.NS,CIPLA.NS,COALINDIA.NS,HDFCLIFE.NS,...,NTPC.NS,ONGC.NS,RELIANCE.NS,TATACONSUM.NS,TATASTEEL.NS,TCS.NS,TECHM.NS,TITAN.NS,ULTRACEMCO.NS,WIPRO.NS
Date,,,,,,,,,,,,,,,,,,,,,
2000-01-01 00:00:00+05:30,NaN,NaN,NaN,NaN,NaN,NaN,53.641777,80.759079,NaN,NaN,...,NaN,7.879421,38.700314,29.708193,1.865943,NaN,NaN,6.106230,NaN,116.686157
2000-02-01 00:00:00+05:30,NaN,NaN,NaN,NaN,NaN,NaN,43.926270,79.134407,NaN,NaN,...,NaN,6.284372,36.660038,31.020348,1.614205,NaN,NaN,4.537596,NaN,202.912811
2000-03-01 00:00:00+05:30,NaN,NaN,NaN,NaN,NaN,NaN,44.522491,78.022598,NaN,NaN,...,NaN,5.128950,37.320477,23.677235,1.541897,NaN,NaN,4.034915,NaN,171.498016
2000-04-01 00:00:00+05:30,NaN,NaN,NaN,NaN,NaN,NaN,36.569691,61.331738,NaN,NaN,...,NaN,4.120069,40.693413,20.997488,1.447495,NaN,NaN,3.139513,NaN,103.705032
2000-05-01 00:00:00+05:30,NaN,NaN,NaN,NaN,NaN,NaN,44.875557,53.474731,NaN,NaN,...,NaN,5.017966,41.435486,23.074736,1.693587,NaN,NaN,3.319042,NaN,57.280502
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-01 00:00:00+05:30,3194.350098,4311.103027,4084.850098,1696.214966,7306.250000,723.384705,3689.935791,1033.429443,217.542847,575.200012,...,160.913422,128.928040,2630.031738,809.650024,108.300003,3139.269775,1057.713867,2604.649902,6639.734863,413.549988
2022-09-01 00:00:00+05:30,3455.750000,4383.399902,3527.750000,1678.349976,7335.750000,799.900024,3843.050049,1114.949951,199.370758,530.450012,...,159.649994,120.761909,2377.750000,802.849976,99.300003,2937.294434,991.367126,2606.949951,6255.100098,394.250000
2022-10-01 00:00:00+05:30,3347.449951,4517.500000,3671.850098,1687.500000,7144.100098,832.000000,3766.550049,1167.400024,231.025848,540.450012,...,173.100006,127.666672,2549.600098,770.150024,101.550003,3121.672607,1045.230835,2761.500000,6714.950195,386.549988
2022-11-01 00:00:00+05:30,3917.899902,4726.399902,3750.699951,1626.500000,6720.950195,848.750000,4362.299805,1139.650024,213.460556,590.599976,...,172.199997,134.380966,2731.350098,818.049988,107.650002,3323.477539,1058.598511,2653.000000,7077.000000,406.899994
2022-12-01 00:00:00+05:30,3858.350098,4477.600098,3616.050049,1547.849976,6575.200195,806.099976,4307.450195,1075.949951,225.050003,566.250000,...,166.449997,146.750000,2547.199951,766.950012,112.650002,3192.039795,1016.400024,2597.500000,6959.049805,392.750000

 TODO
1. Read about SOTA for stock price prediction and what determines success of model trying to predict price
2. Choose stocks to monitor - Nifty 50
3. Build as below

Think of a common use-case where data would update regularly and model would shift
1. Stock price prediction
2. Automatic data retrieval using API to store into Azure storage
3. Automatic model training at intervals depending on error rate

Tie everything up in a RL portfolio optimization application